@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
@import 'assets/fontastic/styles.css';




*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
}

img{
    display: block;
    max-width: 100%;
}

body{ 
    margin: 0;
    padding: 0;
    float: left;
}

.conteudo{
    margin: auto;
    width: 95%;
}





/*ANCORAS*/
#ofertas{
    height: 70px;
}

#produtos{
    height: 50px;
}

#contato{
    height: 20px;
}







.header{
    height: 50px;    
    background: #fff;
}

 .header .conteudo{
    background: #fff;   
    float: left;
    width: 100%;
    border-bottom: 2px solid #004C76;
}

.logo{ 
    margin: 5px; 
    font-size: 20px;
    z-index: 100;
}

.logo img{
    width: 48%;
    margin: 0 0 0 5px;
}

.header .conteudo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
    position: fixed;
    z-index: 100;    
}

.icon-menu{
    display: block;
    width: 42px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    background: #006296;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    cursor: pointer;
    z-index: 100;
}

.nav{
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
    z-index: 100;
}


.menu{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.menu li a{
    display: block;
    padding: 15px;
    background-color: rgba(0,98,150,0.9);
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 15px;
    font-weight: 300;
}
.menu li a:hover{
    background-color: rgba(0,98,150,1);
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
}

.mostrar{
    left: 0;
}









.banner{
    margin-top: 0px;
    position: relative;    
}

.banner img{
    max-height: 715px;
    width: 100%;
}










.bloco1-icons{
    width: 100%;
}


.bloco1-icons-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;   
    -ms-flex-line-pack:center;   
        align-content:center;   
}

.bloco1-icons-center b{
    text-align: center; 
    color: #3F4650;
    font-size: 15px;
    font-weight: 700;
    margin: -30px 0 0 0;
}

.bloco1-icons-center p{
    text-align: center;
    color: #3F4650;
    font-size: 13px;
    font-weight: 300;
}

.icon-card{
    color: #3F4650;
    font-size: 80px;
    text-align: center;
}

.icon-ok{
    color: #3F4650;
    font-size: 80px;
    text-align: center;
}

.icon-phone{
    color: #3F4650;
    font-size: 80px;
    text-align: center;
}






.ofertas{    
    background: url(assets/images/temp/bg-ofertas.jpg) center center no-repeat fixed;
    padding: 10px 0 20px 0;
}

.ofertas-titu{
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding: 0 0 10px 0;
}

.ofertas-blocos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ofetas-blocos-off{
    margin: 0 0 10px 0;
}

.ofetas-blocos-off p{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}

.ofetas-blocos-off .vlr{
    font-size: 36px;
    font-weight: 800;
    color: #FEC301;
    text-align: center;
    margin: -10px 0 0 0;
}






.destaques{    
    background: #fff;
    padding: 10px 0 20px 0;
}

.destaques-titu{
    color: #006096;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding: 0 0 10px 0;
    
}

.bar{
    width: 100%;
    height: 5px;
    background: #FEC301;
    float: left;
    margin: 5px 0 0 0;
}

.destaques-blocos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.destaques-blocos-off{
    margin: 0 0 10px 0;
}

.destaques-blocos-off p{
    font-size: 16px;
    font-weight: 700;
    color: #006196;
    text-align: center;
    margin: 0;
}









.cliente-titu{
    background: url(assets/images/temp/bg-cliente.jpg) center center no-repeat fixed;
    padding: 20px 0;    
}

.cliente-titu-sub{
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}



.clientes-blocos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}



.icons-clientes{
    color: #3F4650;
    font-size: 40px;
    text-align: center;

    padding: 25px 0px 20px 0 !important;
    width: 120px;
    border: 5px solid #3F4650;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    
    display: block;
    margin: 0 0 7px 0;
}

.clientes-blocos-icons{
    margin: 20px 0 0 0;
    cursor: pointer;
    width: 120px;
}

.clientes-blocos-icons p{
    color: #3F4650;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.clientes-blocos-icons:hover p{
    color: #FEC301;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.clientes-blocos-icons:hover .icons-clientes{
    color: #FEC301;
    border: 5px solid #FEC301;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.cliente-tel{
    font-size: 30px;
    text-align: center;
    color: #004468;
    padding: 15px 0;
    font-weight: 800;
}






.contato{
    background: url(assets/images/temp/bg-contact.png);
    padding: 30px 0;
}

.text-center{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 40px 0;
}

.contato .btn{
    width: 140px;
    background: #FEC301;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.contato .btn:hover{
    -webkit-transition: all 0.4s;
    transition: all 0.4s;    
}


.contato .form-control{
    color: #004C76 !important;    
}










.marcas{
    padding: 20px 0;
}

.marcas-titu{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    color: #004C76;
    font-weight: 700;
}

.marcas-bar{
    width: 100px;
    height: 3px;
    background: #FEC301;        
    margin: 5px auto !important;
    display: block;       

}

.marcas-logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    margin: 20px 0;
}

.marcas-logo-bloco{
    margin: 5px 0;
}






.footer{
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #004C76;
}




.backtopo{ 
    width:50px; 
    height:50px; 
    background:url(assets/images/icon_back.png) no-repeat; 
    cursor:pointer; 
    position:fixed;
    z-index:1000; 
    bottom:20px; 
    right:10px; 
    display:none;
}
.backtopo:hover{ 
    /*background:url(assets/images/icon_back2.png) no-repeat;*/
    transition: all 0.4s; 
}








/*RESPONSIVO 480*************************************************************************************************************************/
@media(min-width:480px){
    
    .logo img{
        width: 43%;
        margin: -1px 0 0 20px;
    }    

    .destaques{          
        padding: 20px 0 20px 0;
    }
    
    .cliente-titu{        
        padding: 30px 0;    
    }

    .cliente-titu-sub{        
        font-size: 30px;
    }

    .cliente-tel{
        font-size: 50px;
    }
    

    
    
}








/*********************************************************************************/
@media(min-width:768px){
    
    

    
    
    .ofertas{ 
        padding: 20px 0 20px 0;        
    }

    .ofertas-titu{       
        font-size: 60px;       
        padding: 0 0 40px 0;
    }

    .ofertas-blocos{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    
    
    
    
    
    


    .destaques{            
        padding: 30px 0 20px 0;
    }

    .destaques-titu{       
        font-weight: 900;
        font-size: 40px;
        text-align: left;
        padding: 0 0 5px 0;
        margin: 0 0 20px 0;
        float: left;
    }
    
    .bar{
        width: 67%;        
    }

    .destaques-blocos{       
        display: flex;      
        flex-direction:row;       
        flex-wrap: wrap;
        justify-content: space-between;       
        align-items: center;
        width: 100%;
        margin: 0 0 20px 0;
    }

 

  
    
    
    
    
    
    .cliente-titu{        
        padding: 80px 0;    
    }

    .cliente-titu-sub{        
        font-size: 40px;
    }

    .cliente-tel{
        font-size: 60px;
        margin: 0 0 40px 0;
    }
    
    .clientes-blocos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
        padding: 40px 0 30px 0;
    }


  

    
    .marcas{
        padding: 30px 0;
    }

    .marcas-titu{        
        font-size: 30px;       
    }

    .marcas-bar{
        width: 200px;
        height: 10px;        
    }

    .marcas-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 30px 0 20px 0;
    }

    
    
    .backtopo{     
        right: 40px;
    }
    
    
    
}













/*********************************************************************************/
@media(min-width:1024px){ 
    
    

    
    
    header{
        background: #fff;
        float: left;
        width: 100%;
    }
    .header .conteudo{
        
        background: #fff;
        float: left;
        width: 100%;
    }
    
    .logo{
        margin: 30px 0 0 30px;
        width: 200px;
    }
    
    .logo img{
        width: 70%;
        margin: -20px 0 7px 40px;
    }
        
    
    
    
    .nav{
        position: static;
        width: auto;
        margin: 40px 0;
    }
    
    .icon-menu{
        display: none;
    }
    
    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: -30px 50px 0 0 !important;       
    }    
    
    
    

    .menu li a{
        background: none;        
        color: #333;        
        padding: 15px 12px;        
        text-decoration: none;       
        border-bottom: none;
        font-size: 14px;
        font-weight: 300;
    }
    
    .menu li a:hover{
        background: none;
        color: #00ABDC;
    }
    
    
    .menu li a:after{
        content: "";
        display: table;
        width: 0%;
        height: 1px;
        background: #00ABDC;
        margin: 5px auto 0;
        
        -webkit-transition: all 0.4s ease;
        
        transition: all 0.4s ease;
    }    
  
        
    .menu li a:hover:after{
        width: 60%;
        
    }
    
    
    .bloco1-icons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 30px 0 -50px 0;
    }
    
  
    

    
   
   
    
    


    .destaques{            
        padding: 0 0 20px 0;
    }

    
    .bar{
        width: 51%;
    }

    .destaques-blocos{       
        display: flex;      
        flex-direction:row;       
        flex-wrap: wrap;
        justify-content: space-between;       
        align-items: center;
    }
    
    .destaques-blocos-off{
        margin: 0 0 20px 0;
    }
    
    
    

    
    .contato{
        padding: 70px 0;
    }
    
    
    .contato .form-control{
        width: 300px;
    }

    .contato textarea{
        width: 100% !important;
    }

    .contato-exclusive{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    
    
    
    

    .marcas-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        margin: 30px 0 20px 0;
    }

    
   
    
    
    
    
    
   

}












@media(min-width:1280px){
    
  
    
    
    
   .header .conteudo{      
        height: 80px;
        background: #fff;
        float: left;
        width: 100%;
    }
    
    .logo img{
         width: 100%;
        margin: -28px 0 7px 70px;
    }
    
    .nav{
        margin: 45px 20px 40px 0;
    }

    
    
    
    
    
    .destaques-titu{
        float: left;
        margin: 15px 0 0 0;
    }
    
    .bar{
        width: 38%;
        margin: 5px 0 20px 0;
    }

    .destaques-blocos{ 
        width: 100%;
    }
    
 
    
    
    
    
    .contato .form-control{
        width: 350px;
    }

    
    
    
    
    
    .marcas-titu{
        width: 100%;
        float: left;
        text-align: center;
        font-size: 30px;
        color: #004C76;
    }
        
    .marcas-bar{
        width: 200px !important;
        height: 10px !important;
        background: #FEC301;        
        margin: 5px auto !important;
        display: block;       
        
    }

    

  
    

    
    
}
























