.page{   
    padding: 20px 0;
    margin: auto;    
    
}

.page h1{
    font-size: 25px;
    text-align: center;
    color: #006296;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.page .btn{
    font-size: 20px;
    margin: 20px 0 0 0;
}




/*RESPONSIVO 480*************************************************************************************************************************/
@media(min-width:480px){
    

    
    .pageImg img{
        margin: auto;
    }
    
}








/*******************************************************************************************************************************************/
@media(min-width:768px){    
    
    
    .page h1{        
        font-size: 30px;
    }
    
    
}






/*******************************************************************************************************************************************/
@media(min-width:1024px){     
    
  .page h1{        
        text-align: left;
        font-size: 35px;
        margin: 50px 0 20px 0;
    }
    
    .page p{
        font-size: 18px;
        font-weight: 300;
    }
    
  
    
    .alignleft{
        float: left;
        margin: 0 20px 0 0;
    }
   

}





/*******************************************************************************************************************************************/

@media(min-width:1280px){    
    

    
}